:root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: #F8FAFC;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}